<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <li>
        <a href="">.</a>
    </li>
    <li>
        <a id="prev">..</a>
    </li>
    {{ range .dirs }}
        <li>
            <a class="change" href="{{ .Name }}">{{ .Name }}</a>
        </li>
    {{ end }}
    <script>
        document.querySelectorAll(".change").forEach(anc => {
            let midfix = "";
            if (!document.URL.endsWith("/")) {
                midfix = "/";
            }
            updURL = document.URL + midfix + anc.getAttribute("href");

            anc.setAttribute("href", updURL);
        });
        const prevDir = document.URL.split("/").slice(0, -1).join("/");
        document.querySelector("#prev").setAttribute("href", prevDir)
    </script>
</body>
</html>